<div>
    <form  (ngSubmit)="addProject()">                                                   
        <div>
          <label for="nom">Nom:</label>
          <input type="text" id="nom" [(ngModel)]="proj.nom" name="nom" required>
        </div>
        <div>
          <label for="description">Description:</label>
          <input type="text" id="description" [(ngModel)]="proj.description" name="description" required>
        </div>
        <div>
          <label for="datedebut">Date Début:</label>
          <input type="date" id="datedebut" [(ngModel)]="proj.datedebut" name="datedebut" required>
        </div>
        <div>
          <label for="datefin">Date Fin:</label>
          <input type="date" id="datefin" [(ngModel)]="proj.datefin" name="datefin" required>
        </div>
        <div>
          <label for="nbr_heures_travailler">Nombre d'heures travaillées:</label>
          <input type="number" id="nbr_heures_travailler" [(ngModel)]="proj.nbr_heures_travailler" name="nbr_heures_travailler" required>
        </div>
        <div>
          <label for="status">Status:</label>
          <select id="status" [(ngModel)]="proj.status" name="status" required>
            <option value="activer">Activer</option>
            <option value="desactiver">Désactiver</option>
          </select>
        </div>
        <div>
          <label for="tache">Tâche:</label>
          <input type="text" id="tache" [(ngModel)]="proj.tache" name="tache" required>
        </div>
        <button type="submit">Ajouter</button>
      </form>
</div>