<div>

  <h3>Ajouter un nouveau projet</h3>

      <button type="submit" (click)="addProject()">Ajouter</button>

  <h2>Liste des projets</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Nombre d'heures travaillées</th>
        <th>Status</th>
        <th>Tâche</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.id }}</td>
        <td *ngIf="!editingProject || editingProject.id !== project.id">{{ project.nom }}</td>
        <td *ngIf="!editingProject || editingProject.id !== project.id">{{ project.description }}</td>
        <td *ngIf="!editingProject || editingProject.id !== project.id">{{ project.dateDebut }}</td>
        <td *ngIf="!editingProject || editingProject.id !== project.id">{{ project.dateFin }}</td>
        <td *ngIf="!editingProject || editingProject.id !== project.id">{{ project.nbr_heures_travailler }}</td>
        <td *ngIf="!editingProject || editingProject.id !== project.id">{{ project.status }}</td>
        <td *ngIf="!editingProject || editingProject.id !== project.id">{{ project.tache }}</td>
        <td *ngIf="editingProject && editingProject.id === project.id">
          <input type="text" [(ngModel)]="editingProject.nom" name="editNom">
          <input type="text" [(ngModel)]="editingProject.description" name="editDescription">
          <input type="date" [(ngModel)]="editingProject.dateDebut" name="editDateDebut">
          <input type="date" [(ngModel)]="editingProject.dateFin" name="editDateFin">
          <input type="number" [(ngModel)]="editingProject.nbr_heures_travailler" name="editNbr_heures_travailler">
          <select [(ngModel)]="editingProject.status" name="editStatus">
            <option value="activer">Activer</option>
            <option value="desactiver">Désactiver</option>
          </select>
          <input type="text" [(ngModel)]="editingProject.tache" name="editTache">
        </td>
        <td>
          <button *ngIf="!editingProject || editingProject.id !== project.id" (click)="editProject(project)">Modifier</button>
          <button *ngIf="!editingProject || editingProject.id !== project.id" (click)="deleteProject(project.id)">Supprimer</button>
          <button *ngIf="editingProject && editingProject.id === project.id" (click)="updateProject()">Enregistrer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
