<div>

  <h3>Ajouter un nouveau projet</h3>

  <button routerLink="/admindash/ajouter-projet" routerLinkActive> Ajouter</button>

  <h2>Liste des projets</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Nombre d'heures travaillées</th>
        <th>Status</th>
        <th>Tâche</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.idP }}</td>
        <td *ngIf="!editingProject || editingProject.idP !== project.idP">{{ project.nom }}</td>
        <td *ngIf="!editingProject || editingProject.idP !== project.idP">{{ project.description }}</td>
        <td *ngIf="!editingProject || editingProject.idP !== project.idP">{{ project.datedebut }}</td>
        <td *ngIf="!editingProject || editingProject.idP !== project.idP">{{ project.datefin }}</td>
        <td *ngIf="!editingProject || editingProject.idP !== project.idP">{{ project.nbr_heures_travailler }}</td>
        <td *ngIf="!editingProject || editingProject.idP !== project.idP">{{ project.status }}</td>
        <td *ngIf="!editingProject || editingProject.idP !== project.idP">{{ project.tache }}</td>
        <td *ngIf="editingProject && editingProject.idP === project.idP">
          <input type="text" [(ngModel)]="editingProject.nom" name="editNom">
          <input type="text" [(ngModel)]="editingProject.description" name="editDescription">
          <input type="date" [(ngModel)]="editingProject.datedebut" name="editdatedebut">
          <input type="date" [(ngModel)]="editingProject.datefin" name="editdatefin">
          <input type="number" [(ngModel)]="editingProject.nbr_heures_travailler" name="editNbr_heures_travailler">
          <select [(ngModel)]="editingProject.status" name="editStatus">
            <option value="activer">Activer</option>
            <option value="desactiver">Désactiver</option>
          </select>
          <input type="text" [(ngModel)]="editingProject.tache" name="editTache">
        </td>
        <td>
          <button *ngIf="!editingProject || editingProject.idP !== project.idP" (click)="editProject(project)">Modifier</button>
          <button *ngIf="!editingProject || editingProject.idP !== project.idP" (click)="deleteProject(project.idP)">Supprimer</button>
          <button *ngIf="editingProject && editingProject.idP === project.idP" (click)="updateProject()">Enregistrer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
